/* 公共样式 */
.border {
  border: 1px solid #ccc;
}

div {
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background: red;
  color: white;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 3px 5px;
}

/* 组件样式 */
/* app */
.app {
  width: 500px;
  min-height:100px;
  padding: 10px;
}